name: Publish NPM package

on:
    release: 
        types: ["published"]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions: 
            id-token: write
            contents: read
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v4
              with:
                node-version: '24.x'
                registry-url: 'https://registry.npmjs.org'
            - run: npm ci
            - run: npm run test
            - run: npm run build
            - run: npm pack
            - run: npm publish --provenance